@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-size: cover;
  background-position: center;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 15px;
  background-color: whitesmoke;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-align: center;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px 0px 25px 0px;
}

.input-data {
  padding: 10px 15px;
  margin-right: 15px;
  min-width: 250px;
  border-radius: 5px;
  outline: none;
  border-width: 2px;
  border-style: solid;
  border-color: #fdbe33;
  font-weight: 450;
}

.btn {
  display: block;
  padding: 10px 20px;
  min-width: 150px;
  min-height: 30px;
  color: #fff;
  text-decoration: none;
  outline: none;
  border-width: 2px 0;
  border-style: none solid double none;
  border-color: #fdbe33 #000 #d77206;
  border-radius: 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3ae0f), to(#e38916)) #e38916;
  background: linear-gradient(#f3ae0f, #e38916) #e38916;
  font-family: inherit;
  font-weight: 600;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f5ae00), to(#f59500)) #f5ae00;
  background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}

.btn:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#f59500), to(#f5ae00)) #f59500;
  background: linear-gradient(#f59500, #f5ae00) #f59500;
}

.add-btn {
  margin-left: auto;
  margin-right: auto;
}

.photo-card img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.is-hidden {
  display: none;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.photo-card {
  padding: 5px;
  margin: 15px;
  width: calc((100% - 120px) / 4);
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 4px -1px rgba(194, 164, 82, 0.2), 0px 1px 5px 2px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 4px -1px rgba(194, 164, 82, 0.2), 0px 1px 5px 2px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.photo-card img {
  display: block;
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.photo-card img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.photo-card:nth-child(4n) {
  margin-right: 0;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 0;
  color: #708090;
}

.stats-item {
  margin: 0px 5px 5px 10px;
}

.material-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  color: #708090;
}
